
/* General All-selectors formatting */

html {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 100%;
    color: #333;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 90%;
    color: #333;
}

p {
    padding: 1em 2em 1em 2em;
    width: 90%;
}

img {
    max-width: 500px;
    max-height: 500px;
}

ul {
    list-style-type: none;
}


.remove {
    display: none;
}

.hidden {
    visibility: hidden
}

.unselected {
    display: inline-block;
    background-color: #fff;
	float: left;
	padding: 5px;
	border: 2px solid #CCC;
	border-radius: 8px;
	box-shadow: rgba(0,0,0,0.04) 15px 15px;
	margin: 10px 10px 20px 30px;
    /* Opacity tricks */
    -webkit-transition: opacity 800ms ease;
    -moz-transition: opacity 800ms ease;
    -o-transition: opacity 800ms ease;
    transition: opacity 800ms ease;
}


/* "Hero" header formatting */

.hero {
    background: url('../img/background_1440.jpg') no-repeat center center;
    height: 80vh;
    background-origin: content-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero h1 {
    font-family: 'Montez', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    }

/*
@media only screen and (max-width: 320px) {
    #image {
        background-image: url(img/background_320.jpg);
        }
} */


/*  Navigation Bar Specific Formatting  */

ul.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #C09F80;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

ul.navbar li {
    float: left;
    font-family: Verdana, sans-serif;
}

ul.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 25px;
}

ul.navbar li a:hover {
    background-color: #76323F;
}

ul.navbar li a:hover:not(.active) {
    background-color: #76323F;
}

ul.navbar li a.active {
    background-color:#4CAF50;
}


/* Radio button formatting */

li.unselected {
    background-color: #fff;
	float: left;
	padding: 5px;
	border: 2px solid #CCC;
	border-radius: 8px;
	box-shadow: rgba(0,0,0,0.04) 15px 15px;
	margin: 10px 10px 20px 30px;
    /* Opacity tricks */
    -webkit-transition: opacity 800ms ease;
    -moz-transition: opacity 800ms ease;
    -o-transition: opacity 800ms ease;
    transition: opacity 800ms ease;
}

li.active {
    background-color: #fff;
	float: left;
	padding: 5px;
	border: 2px solid #76323F;
	border-radius: 8px;
	box-shadow: rgba(0,0,0,0.4) 15px 15px;
	margin: 10px 10px 20px 30px;
}

li.selected {
    background-color: #fff;
	float: left;
	padding: 5px;
	border: 2px solid #76323F;
	border-radius: 8px;
	box-shadow: rgba(0,0,0,0.04) 15px 15px;
	margin: 10px 10px 20px 30px;
}

li img   {
    float: top;
    margin-bottom: 20px;
}

li p   {
    margin: 0 -10px 0 -30px;
    width: 100%;
    text-align: center;
}


/*  Footer Specific Formatting  */

#footer {
	clear: both;
	height: 50px;
	background-color: #76323F;
	color: #eee;
	margin: 100px 0 0 0 !important;
    padding: 0 !important;
}

#footer p {
    padding: 1rem;
    font-size: 80%;
}